In [ ]:
#3 observations
#1 The most profitable item is the most popular one. 
#2 People between the ages of 20-24 spend the most money on products. 
#3 On average 15-19 year olds spend close to the same amount as 20-24 year olds 
#3 despite total money spent being closed to tripled in favor of the 20-24 year olds

In [1]:
#Dependencies
import pandas as pd
import numpy as np

In [2]:
#Save path to data set in a variable
purchase_data = "Resources/purchase_data.csv"

In [3]:
#Use Pandas to read data
purchase_data = pd.read_csv(purchase_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Total Number of Players
count = len(purchase_data["SN"].value_counts())
total_players = pd.DataFrame({"Total Players":[count]})

total_players

   Total Players
0            576

In [5]:
#Number of Unique Items
countid = len(purchase_data["Item ID"].unique())

In [6]:
#Total number of purchases
purchases = len(purchase_data["Purchase ID"].value_counts())

In [7]:
#Average Purchase Price
price = purchase_data["Price"].sum()
average = (price/purchases).round(decimals=2)

In [8]:
#Total Revenue
total_revenue = (purchase_data["Price"].sum()).round(decimals = 2)

In [9]:
#Data frame for total_players, countid, average, purchases, total_revenue, mfo_values
summary_df = pd.DataFrame({"Total Players" : [count],
                          "ID Count" : [countid],
                          "Average" : [average],
                          "Number of Purchases": [purchases],
                          "Total Revenue" : [total_revenue]})

In [10]:
summary_df. style.format({"Average": "${:,.2f}",
                          "Total Revenue": "${:,.2f}"})

In [11]:
#List of Gender types
gender = purchase_data["Gender"].unique()

In [12]:
#Male Players Only
male_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]

In [13]:
#Total Male Players
total_male_players = len(male_df["SN"].unique())

In [14]:
#Other / Non Disclosed Players
other_non_disclosed_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed",:]

In [15]:
#Total ONDP
total_other_non_disclosed = len(other_non_disclosed_df["SN"].unique())

In [16]:
#Female Player
female_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]

In [17]:
#Total Female Players
total_female_players = len(female_df["SN"].unique())

In [18]:
#Percentage for Gender Categories
male_perc = (total_male_players) / count * 100
other_perc = (total_other_non_disclosed) / count * 100 
female_perc = (total_female_players) / count * 100

In [19]:
#Gender Summary Data Frame
gender_summary_df = pd.DataFrame({ "Gender" : ["Male","Female", "Other Non / Disclosed"],
                      "Total Number" :[total_male_players, total_female_players,total_other_non_disclosed],
                      "Percent" : [male_perc, female_perc, other_perc]
                     })

In [20]:
#Set Gender as Index
gender_summary = gender_summary_df.set_index("Gender")

In [21]:
gender_summary_final = gender_summary. style.format({"Percent": "{:,.2f}%"})
gender_summary_final

In [22]:
#Purchase Analysis by Gender
#Purchase Count
male_purchase_count = male_df["Purchase ID"].count()
female_purchase_count = female_df["Purchase ID"].count()
other_non_disclosed_count = other_non_disclosed_df["Purchase ID"].count()
                        
#Average Purchase Price
male_average_purchase_price = male_df["Price"].mean()
female_average_purchase_price = female_df["Price"].mean()
other_non_disclosed_price = other_non_disclosed_df["Price"].mean()

#Total Purchase Value
total_male_purchase_price = male_df["Price"].sum()
total_female_purchase_price = female_df["Price"].sum()
total_other_non_disclosed_price = other_non_disclosed_df["Price"].sum()

#Average Price Per Person
average_male_purchase_per_person = (total_male_purchase_price) / (total_male_players)
average_female_purchase_price_per_person = (total_female_purchase_price)/(total_female_players)
average_other_non_disclosed_price_per_person = (total_other_non_disclosed_price)/(total_other_non_disclosed)

In [23]:
#Create Data Frame 
gender_pa_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                 "Purchase Count" : [male_purchase_count, female_purchase_count, other_non_disclosed_count],
                 "Average Purchase Price" : [male_average_purchase_price, female_average_purchase_price, other_non_disclosed_count],
                 "Total Purchase Value" : [total_male_purchase_price, total_female_purchase_price, total_other_non_disclosed_price],
                 "Average Price Per Person" : [average_male_purchase_per_person, average_female_purchase_price_per_person,average_other_non_disclosed_price_per_person]
                 })

In [24]:
#Set Gender to Index
gender_index_df = gender_pa_df.set_index("Gender")

In [25]:
#Format Values

gender_final = gender_index_df.style.format({"Average Purchase Price": "${:,.2f}",
                          "Total Purchase Value": "${:,.2f}",
                          "Average Price Per Person":"${:,.2f}" })

gender_final

In [26]:
#Figure out minimum and maximum ages 
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [27]:
#Bins for data 
bins = [0,9,14,19,24,29,34,39,50]

#Names for Bins
group_names = ["Less Than 10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]

#Slice data and place into bins
purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

In [33]:
#Age Group Count
age_group_count = purchase_data.groupby(["Age Demographics","SN"]).size().groupby("Age Demographics").count().astype(float)
age_group_count

Age Demographics
Less Than 10     17.0
10-14            22.0
15-19           107.0
20-24           258.0
25-29            77.0
30-34            52.0
35-39            31.0
40+              12.0
dtype: float64

In [34]:
agc_df = pd.DataFrame(age_group_count)
agc_df.columns = ['Total Count']
agc_df

                  Total Count
Age Demographics
Less Than 10             17.0
10-14                    22.0
15-19                   107.0
20-24                   258.0
25-29                    77.0
30-34                    52.0
35-39                    31.0
40+                      12.0

In [84]:
#add percentage of players column and set it equal to the entire first column divided by the count and multiply by 100 and round to two decmial places
agc_df["Percentage of Players"] = (agc_df["Total Count"]/count *100).round(decimals=2)
agc_df


#format %
#agc_df_pretty = agc_df.style.format({"Average": "{:,.2f}%})

SyntaxError: EOL while scanning string literal (<ipython-input-84-27af5d1f0413>, line 7)

In [83]:
#Group by age
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)
group = purchase_data.groupby("Age Range")

In [82]:
#Purchasing Analysis

#Average Price
average_price_pa = purchase_data.groupby(["Age Range"]).mean()["Price"]

#Sum of group ranges 
sum_pa = purchase_data.groupby(["Age Range"]).sum()["Price"]

#Average total purchase per person 
atppp = sum_pa/agc_df["Total Count"]

purchasing_analysis_df = pd.DataFrame({"Purchase Count":age_count,
                                      "Average Purchase Value": average_price_pa,
                                      "Total Purchase Value": sum_pa,
                                      "Average Total Purchase Per Person": atppp})

#Format
paf_df_pretty = purchasing_analysis_df.style.format({"Average Purchase Value": "${:,.2f}",
                          "Total Purchase Value": "${:,.2f}",
                          "Average Total Purchase Per Person":"${:,.2f}" })

paf_df_pretty

In [85]:
#Top Spenders

#Data Names
ts = purchase_data.groupby("SN")

#Total Purchases by name
spender_count = ts["Purchase ID"].count()

#Average purchase
avg_ts_price = ts["Price"].mean()

#Calculate purchase total
total_ts = ts["Price"].sum()

In [95]:
#Create Dataframe

top_spending_df = pd.DataFrame({"Purchase Count":spender_count,
                                "Average Purchase Count":avg_ts_price,
                                "Total Purchase Value":total_ts})

#Descending
descending = top_spending_df.sort_values(["Total Purchase Value"], ascending = False)

#Format
top_spending_formatted = descending.style.format({"Average Purchase Count": "${:,.2f}",
                          "Total Purchase Value": "${:,.2f}"})

descending.round(2).head()

             Purchase Count  Average Purchase Count  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [111]:
#Most Popular Iteams
popular_item = purchase_data.groupby(["Item ID", "Item Name"])

# of times purchased
popular_count = popular_item["Price"].count()

# purchase value
popular_item_purchase_value = popular_item["Price"].sum()

#price
item_price = popular_item_purchase_value / popular_count

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [119]:
# Create data frame with obtained values
popular_items = pd.DataFrame({"Purchase Count": popular_count,
                              "Total Purchase Value": popular_item_purchase_value ,
                             "Item Price":item_price
                             })
# Sort in descending order to obtain top 5 popular items 
popular_formatting = popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatting.round(2)

,,Purchase Count,Total Purchase Value,Item Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.23
145,Fiery Glass Crusader,9,41.22,4.58
108,"Extraction, Quickblade Of Trembling Hands",9,31.77,3.53
82,Nirvana,9,44.10,4.90
19,"Pursuit, Cudgel of Necromancy",8,8.16,1.02

In [121]:
#Most Profitable items
most_profitable =popular_items.sort_values('Total Purchase Value', ascending=False).head()
most_profitable

,,Purchase Count,Total Purchase Value,Item Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.23
82,Nirvana,9,44.10,4.90
145,Fiery Glass Crusader,9,41.22,4.58
92,Final Critic,8,39.04,4.88
103,Singed Scalpel,8,34.80,4.35